@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Exo:400,700,900);

h1, h1 small, h2, h3 {font-family: 'Exo', sans-serif; font-weight: 900;}
body {font: 14px/20px 'Trebuchet MS', Arial, Helvetica, sans-serif; color: #373737;}


/* HEADER + NAVIGATION */

.navbar {background: #fff; margin: 0; height: 75px;}
.navbar-brand {background: url(../img/img_logo.png) no-repeat 50%; height: 55px; width: 200px; margin-top: 5px;}
.nav > li > a  {display: inline;}
.nav > li > a:hover {background: none; color: #3c5f89;}
.navbar-nav {float: right; margin-top: 25px;}
.navbar-nav li {font-size: 18px; color: #454545; border-left: 1px solid #454545;}
.navbar-nav li:first-child, .navbar-nav li:last-child {border: none;}
.navbar-nav li a {font-size: 18px; color: #454545;}
.navbar-nav .btn a {margin-left: 10px;}

.navbar-toggle  {background: #3e3e3e; border-radius: 1px;}
.navbar-toggle span { background: #fff; border: 2px solid #fff; }
.navbar-collapse {border: none; box-shadow: none;}

.btn a, a.btn {color: #fff !important; border-radius: 7px; background: linear-gradient(#36d96c, #2aad55) !important; background: -webkit-linear-gradient(#36d96c, #2aad55) !important; background-color: #30c561 !important; border: 0; padding: 7px 15px 8px !important; transition: opacity .2s linear; line-height: 22px;}
.btn:hover {opacity: .8;}



/* MAIN CONTENT */

main .container-fluid  {background: linear-gradient(#7190b5, #8eb4e3); background: -webkit-linear-gradient(#7190b5, #8eb4e3); background-color: #88acd9; background-color: #88acd9; padding: 20px 0 45px;}

h1 {text-align: center; color: #fff;}
h1 small {color: #fff; font-size: 24px; letter-spacing: .5px;}
h2 {font-size: 36px; color: #82a5d1; margin: 40px 0; text-align: left !important;}

.intro {margin-bottom: 30px; text-align: justify;}
.intro figure {text-align: center;}
.intro img {max-width: 100%; height: auto; margin-bottom: 20px;}
.intro .btn {float: right; font-size: 18px; margin-top: 30px;}
.intro p {margin-top: 20px;}



/* TEAM */

.team {padding-bottom: 90px;}
.team h2 {margin-bottom: 20px;}
.team h3 {font-size: 36px;}
.team p {padding-right: 15px;}
.team .btn-link {float: right; color: #2aae56; font-size: 18px; text-decoration: underline; margin-right: 25px;}
.team figure {padding-right: 10px; margin-top: 5px;}
.team figure img {border-radius: 50%; width: 100%; height: auto;}
.team .col-xs-4 {padding: 20px 0 0 7px;}
.team .col-xs-8 {padding: 0 10px;}



/* FOOTER */


footer { background: #ccc; color: #666; text-align: center; padding: 10px 0;}








/* MEDIA QUERIES */


@media screen and (max-width: 960px) {
.intro p {margin-top: 0;}
}

@media screen and (max-width: 780px) {
.navbar {position: fixed; height: 55px; width: 100%; left: 0; top: 0; background: #fff; border-bottom: 1px solid #e5e5e5; z-index: 100;}
.navbar-brand {width: 130px; background-size: 100%; margin: -2px 0 0 10px;}
.navbar-toggle {margin: 7px 6px 6px;}
.navbar-collapse {width: 150px; float: right; border: none; box-shadow: none; background: #3e3e3e; color: #fff; text-align: right; margin-top: 1px;}
.navbar-nav {overflow: hidden; padding: 5px 0 15px; margin: 0;}
.navbar-nav li {border: none; margin: 10px 0;}
.navbar-nav li a {font: normal 16px/20px "Trebuchet MS", Arial, Helvetica, sans-serif; color: #fff; padding: 0 !important; background: none !important;}
.navbar-nav li a:hover {color: #ccc;}
main {margin-top: 55px;}
h1 small {display: inline-block; margin-top: 25px;}
.intro {margin-bottom: 30px;}
.intro h2 {text-align: center !important; font-size: 30px;}
.intro img {max-width: 80%; margin: 20px auto 30px;}
.intro .btn {display: block; float: none; clear: both; margin: 20px auto 0 !important; width: 125px; }
.team {padding-bottom: 50px;}
.team h2 {padding-left: 15px; font-size: 30px;}
.team h3 {font-size: 30px;}
.team .member {margin-bottom: 35px;}
.team .btn-link {margin-right: 10%;}
}

@media screen and (max-width: 480px) {
main .container-fluid {padding-bottom: 20px;}	
h1 {font-size: 22px;}
h1 small, h2, h3 {font-size: 16px !important; margin: 20px 0;}
.intro {margin-bottom: 50px;}
.intro img {max-width: 100%; margin: 0 auto 30px;}
.team h2  {margin-bottom: 0;}
.team h3 {margin-bottom: 10px;}
.team figure {padding: 0 5px;}
.team p {padding-right: 0;}
.team .btn-link {font-size: 14px;}
.team .col-xs-8 p {height: 100px; overflow: hidden; text-overflow: ellipsis;}
}

